<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZiferblatEventsCalculator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>032EED9C2E41C60A00AA315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032EEDA92E41C60C00AA315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032EEDB32E41C60C00AA315B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
